<section>
  <h2>Welcome, <%= user.username %>!</h2>

  <p><strong>StudentID:</strong> <%= studentId %></p>
  <p><strong>Fullname:</strong> <%= fullname %></p>
  <p><strong>Email:</strong> <%= user.email %></p>

  <hr />

  <a href="/user/logout" class="btn btn-warning mt-3">Logout</a>
</section>
