<section>
  <h2>Sign In</h2>

  <p>StudentID: <%= studentId %> - Fullname: <%= fullname %></p>

  <% if (message) { %>
    <p class="error"><%= message %></p>
  <% } %>

  <form action="/user/signin" method="post">
    <input type="email" name="email" placeholder="Email" required />
    <input type="password" name="password" placeholder="Password" required />

    <div class="g-recaptcha" data-sitekey="6LflLRIqAAAAAHrbmeUx3WThRxp7On8iAQQOIQWH"></div>

    <button type="submit">Sign In</button>
  </form>

  <hr />

  <a href="/auth/google" class="btn btn-danger btn-block mb-3">
    Sign In with Google
  </a>

  <a href="/user/forgot-password"><strong>Forgot Password?</strong></a>
  <p>
    <strong>Don't have an account?</strong>
    <a href="/user/signup"><strong>Sign up</strong></a>
  </p>
</section>
